[user]
    name = sebacruz1
    email = sebastiancruzpomar@gmail.com
[core]
    editor = nvim
    autocrlf = input
	excludesfile = ~/.gitignore_global
    filemode = false
[color]
    ui = auto
[init]
    defaultBranch = main
[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    last = log -1 HEAD
    lg = log --oneline --graph --decorate --all
    unstage = reset HEAD --
    amend = commit --amend --no-edit
    save = stash push -m "WIP"
    unsave = stash pop
    changes = diff --cached
    ls = ls-files
[diff]
    tool = nvimdiff
    colorMoved = default
[difftool "nvimdiff"]
    path = nvimdiff
[merge]
    tool = nvimdiff
[push]
    default = simple
    autoSetupRemote = true
[fetch]
    prune = true
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
    syntax-theme = Dracula
